body {
    font-family: Arial;
}

.search_form {
    .button_container {
        text-align: center;
    }

    input[type="text"] {
        border-radius: 10px;
    }

    input[type="submit"] { 
        border-radius: 5px;
    }
}

.advanced_search_form {
    input[type="text"] {
        border-radius: 0px;
    }

    input[type="submit"] { 
        background-color: dodgerblue;
        color: white;
    }
}

.navigation_menu * {
    display: block;
    text-align: right;
}