.search_form * {
    border-radius: 10px;
    display: block;
    margin: auto;
}

.advanced_search_form {
    table, th, td {
        border: none;
    }

    input[type="submit"] { 
        background-color: dodgerblue;
    }
}

.navigation_menu * {
    display: block;
    text-align: right;
}